<div class="fm-customer-bkg img-rounded">

</div>

<form class="form-horizontal" name="customerForm" novalidate>
  <div class="modal">
    <div class="modal-header">
      <h3>Get Started</h3>
    </div>
    <div class="modal-body">

      <div class="control-group">
        <label class="control-label" for="customerName">Your Name</label>
        <div class="controls">
          <input type="text" id="customerName" placeholder="Joe Blow"
                 class="input-medium"
                 ng-model="customerName" required>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="address">Delivery Address</label>
        <div class="controls">
          <input type="text" id="address" placeholder="123 River Rd, ABC Summit, 10001"
                 class="input-xlarge"
                 ng-model="customerAddress" required>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button class="btn btn-primary"
              ng-disabled="customerForm.$invalid"
              ng-click="findRestaurants(customerName, customerAddress)">Find Restaurants!</button>
    </div>
  </div>
</form>
