<div class="fm-panel">
        <h4>Help</h4>
        <div>
            <h4>Until how late do you deliver?</h4>
            <p>We deliver 24 hours around the clock</p>
            <h4>What payment methods do you accept?</h4>
            <p>All major credit cards, you can even do the dishes.</p>
            <h4>I got an extra chocloate muffin with my order, what is this about?</h4>
            <p>That's just a small thank-you gift from FoodMe. Enjoy it!</p>
        </div>
</div>
