<div class="fm-panel">
  <h4>How it works</h4>
  <div>
        <p>It's simple:</p>
        <ol>
          <li>Enter a delivery address</li>
          <li>Pick a great restaurant</li>
          <li>Select yummy food</li>
          <li>Enter delivery time</li>
          <li>Enter payment details</li>
          <li>And the food will be on the way!</li>
        </ol>
  </div>
</div>
