<deliver-to></deliver-to>

<div class="row-fluid">
      <div class="span3 fm-panel">
            <h4>Filter Restaurants</h4>
            <form>
              <h5>Rating</h5>
          <rating ng-model="filter.rating"></rating>
              <h5>Price</h5>
          <rating ng-model="filter.price" symbol="$"></rating>
              <h5>Cuisine</h5>
              <div checkbox-list ng-model="filter.cuisine">
                <label ng-repeat="(name, title) in CUISINE_OPTIONS" class="checkbox">
                        <input type="checkbox" value="{{name}}"> {{title}}
               </label>
            </div>
          </form>
      </div>

      <div class="span9 fm-panel fm-restaurant-list">
            <h4>
                  <ng-pluralize count="restaurants.length" when="{'0' : 'No restaurants found. :-(',
                                                                   'one' : '1 restaurant found!',
                                                                    'other': '{} restaurants found!'}">
                  </ng-pluralize>
            </h4>

            <table class="table table-hover table-striped">
              <tr>
                <th><a href ng-click="sortBy('name')">Name {{sortIconFor('name')}}</a></th>
                <th><a href ng-click="sortBy('rating')">Rating {{sortIconFor('rating')}}</a></th>
                <th><a href ng-click="sortBy('price')">Price {{sortIconFor('price')}}</a></th>
              </tr>
                  <tr ng-repeat="restaurant in restaurants">
                    <td>
                          <a href="#!/menu/{{restaurant.id}}">
                            <img ng-src="img/restaurants/{{restaurant.id}}.jpg" class="img-rounded pull-left">
                            <b>{{restaurant.name}}</b>
                          </a>
                      <p>{{restaurant.description}}</p>
                    </td>
                    <td>
                      <rating ng-model="restaurant.rating" readonly="true"></rating>
                    </td>
                    <td>
                      <rating ng-model="restaurant.price" symbol="$" readonly="true"></rating>
                    </td>
                  </tr>
            </table>
      </div>
</div>
