<div class="hero-unit">

        <h1>Thank you for your order!</h1>

        <p>Our chefs are getting your food ready. It will be on its way shortly.</p>

        <p>Your order ID is 123456789.</p>

</div>
